{% extends "documentation/configure/layout.html.twig" %}
{% block left_navigation_configuration_files_class %} class="active"{% endblock %}

{% block content %}
    <h2>Configuration files</h2>

    <h2 name="variables">Variables</h2>
{% endblock %}
