{% extends "documentation/configure/layout.html.twig" %}
{% block left_navigation_deployments_class %} class="active"{% endblock %}

{% block content %}
    <h2>Deployments</h2>

    <h2 name="zero-downtime-deployments">Zero downtime deployments</h2>
{% endblock %}
