{% extends "documentation/configure/layout.html.twig" %}
{% block left_navigation_images_class %} class="active"{% endblock %}

{% block content %}
    <h2>Images</h2>

    <h2 name="build-strategy"></h2>
    <h2 name="build-arguments"></h2>
{% endblock %}
