{% extends "documentation/configure/layout.html.twig" %}
{% block left_navigation_tasks_class %} class="active"{% endblock %}

{% block content %}
    <h2>Tasks</h2>

    <h3 name="filters">Filters</h3>
{% endblock %}
