{% extends "documentation/configure/layout.html.twig" %}
{% block left_navigation_wait_statuses_class %} class="active"{% endblock %}

{% block content %}
    <h2>Waiting statuses</h2>

    <p>Sometimes, as part of your deployment pipeline, you'll wait to wait for other GitHub status. For example if you use the static code analyser tool Scrutinizer, you may want to deployment
    your application only if the static analysis passes.</p>

    <p align="center"><img src="{{ asset('/img/github-statuses.png') }}" alt="GitHub statuses on Pull-Request" style="max-width: 500px;" /></p>

    <p>In order to achieve that, you can add a new <code>wait</code> task in your tasks list:</p>

{% codeblock lang:yaml %}
tasks:
    # ...

    wait_scrutinizer:
        wait:
            status: 
                context: Scrutinizer
                state: success

    # ...
{% endcodeblock %}

    <p>That way, the tide will be failed if the received status from the given 3rd party do not match the expected state, <code>success</code> from Scrutinizer in this example.</p>

{% endblock %}
