{% extends "documentation/examples/layout.html.twig" %}
{% block left_navigation_introduction_class %} class="active"{% endblock %}

{% block content %}
    <h2>Examples</h2>
    <ul>
        <li>PHP</li>
        <li>Symfony</li>
        <li>eZ publish</li>
        <li>Scala</li>
        <li>Single Page Application (Angular)</li>
    </ul>
{% endblock %}
