.hero-strip {
    background: #333844;
    padding-bottom: 190px;
    position: relative;

    i {
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: #F69D52;
        vertical-align: top;
        margin-left: -8px;
        font-style: normal;
    }

    &__title {
        color: #fff;
        margin: 0 0 20px 0;
        font-size: 40px;
    }

    p {
        color: #e2e2e2;;
    }

    .btn {
        margin-top: 10px;
    }

    .logo-placeholder {
        width: 230px;
        height: 230px;
        position: absolute;
        bottom: -285px;
        left: 50%;
        transform: translateX(-50%);
    }

    &.section-padding.no-icon {
        padding-bottom: 90px;
    }
}
