{% extends "documentation/basics/layout.html.twig" %}
{% block left_navigation_clusters_class %} class="active"{% endblock %}
{% block content %}
<h2>Clusters</h2>
- Deploy everywhere
- Run any kind of containers
- Kubernetes integration with AWS/GCE
- GKE
{% endblock %}
