{% extends "documentation/basics/layout.html.twig" %}
{% block left_navigation_images_class %} class="active"{% endblock %}
{% block content %}
<h2>Docker images</h2>
- Will build the docker images
- Can use the artifacts feature
- Pushes to your private Docker registry
{% endblock %}
