{% extends "documentation/layout.html.twig" %}
{% block top_nagivation_basics_class %} class="active"{% endblock %}
{% block hero %}
    <div class="documentation-header">
        <h1>Getting started with ContinuousPipe</h1>
    </div>
{% endblock %}

{% block left_navigation %}
<ul class="nav nav-pills nav-stacked">
    <li><a href="#">Introduction</a></li>
    <li><a href="#">Workflow</a></li>
    <li><a href="#">Docker images</a></li>
    <li><a href="#">Cluster</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Introduction to ContinuousPipe</h2>
<p>Let's see why it's amazing!</p>
{% endblock %}
