{% extends "documentation/basics/layout.html.twig" %}
{% block left_navigation_introduction_class %} class="active"{% endblock %}
{% block content %}
<h2>Introduction to ContinuousPipe</h2>

- Continuous deployment pipeline
- Deploy your pull requests
- A workflow that is up to you
- Docker containers (pushes them anywhere)
- Guess configuration from docker-compose.yml
- Deploys to anywhere (because using Kubernetes)
{% endblock %}
