{% extends "documentation/basics/layout.html.twig" %}
{% block left_navigation_introduction_class %} class="active"{% endblock %}
{% block content %}
<h2>Introduction to ContinuousPipe</h2>

<p>ContinuousPipe is a continuous deployment pipeline that allow frictionless deployment of features in isolated
application environments. Based on Docker and Kubernetes, it dramatically speeds up the feedback loop and cuts lead times.</p>

<p>
    <img style="margin-bottom: 20px;" src="{{ asset('/img/cp-overview.png') }}" alt="ContinuousPipe Overview" />
</p>

<p>Built on Docker and Kubernetes you can deploy your <a href="{{ path('documentation_basics', {'page': 'images'}) }}">
Docker compatible application</a> on <a href="{{ path('documentation_basics', {'page': 'clusters'}) }}">any cluster</a> that can be on
your bare metals servers as well as on any cloud such as AWS or GCE.</p>

<p>The <a href="{{ path('documentation_basics', {'page': 'workflow'}) }}">customizable workflow</a> you are going to use
is thought to onboard the QA team and Product Owner(s) as quick as possible in order to lose time waiting for feedback.</p>

{% endblock %}
