{% extends "documentation/basics/layout.html.twig" %}
{% block left_navigation_workflow_class %} class="active"{% endblock %}
{% block content %}
<h2>Reduces the feedback loop</h2>
- Deploy the code directly

<h2>A workflow that suits you</h2>

- Build and/or deploy based on Github labels
- Custom tasks that include webhooks (so you can imagine the integrations you would like)
{% endblock %}
