{% extends "regular_layout.html.twig" %}
{% block title %}ContinuousPipe - for a faster development workflow{% endblock %}
{% block navigation_section_classes %}{{ parent() }} navigation-home{% endblock %}
{% block content %}
<h1>Test 404 page</h1>
{% endblock %}
