<section class="hero-strip section-padding">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2 class="hero-strip__title">Built to embrace your application</h2>
            <p>ContinuousPipe already supports many different workflows. If you’d like further information, or would
                like to discuss how ContinuousPipe could help your organisation, drop us a line.</p>
            <a href="{{ path('contact') }}" class="btn btn-ghost btn-accent btn-large">Let's talk!</a>
        </div>
    </div>
</section>