<section class="hero-strip section-padding">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2 class="hero-strip__title">Built to embrace your application</h2>
            <p>ContinuousPipe already supports many different workflows. ContinuousPipe is an open-source product, driven by the community.
                Help us going forward by contributing to CP !</p>
            <a href="https://github.com/continuouspipe/continuouspipe" class="btn btn-ghost btn-accent btn-large">Contribute on GitHub!</a>
        </div>
    </div>
</section>