{% extends "blog/layout.html.twig" %}
{% block left_navigation_clusters_class %} class="active"{% endblock %}
{% block content %}
    <h1>{{ post.getTitle() }}</h1>
    <p>{{ post.getDate() | date('d-m-Y') }}</p>

    <p>{{ post.getBody() | markdown }}</p>
{% endblock %}
