{% extends "layout.html.twig" %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block body %}
<section class="blog-intro section-padding" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Frequently Asked Questions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <h5>Can I use my own hosting?</h5>
                <p>Definitely. We can provide the Kubernetes cluster for development environments but you can have your own for any stage. A lot of companies including Google can also manage Kubernetes clusters for you.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <h5>Can I run tests?</h5>
                <p>Because you will use immutable docker images, you can simply run your unit tests in the built image. Because we can create an environment on the fly, integration tests have never been easier!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <h5>How can I customize the workflow?</h5>
                <p>The configuration, based on tasks, is extremely extensible. You can use branch names, pull-request labels, and variables to activate different tasks, for instance.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <h5>Can I run migration scripts?</h5>
                <p>Yes, we can run abstract commands in containers once the environment is deployed. You will then use the same feature for integration tests.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <h5>How are the permissions managed?</h5>
                <p>You can create teams and manage different project repositories per team. Only the administrators will be able to modify or create the flows, but the users will have a read-only access.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <h5>Where are the Docker images stored?</h5>
                <p>The Docker images can be stored in any Docker Registry. You will just have to configure your credentials to access to the repositories, either public or private.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
