{% extends "layout.html.twig" %}
{% block title %}ContinuousPipe - for a faster development workflow{% endblock %}
{% block body %}
<section class="hero hero-home">
    <section class="navigation">
        {% include "_partials/header.html.twig" %}
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <i class="cp-icon-logo"></i>
                    <h1>ContinuousPipe</h1>
                    <p class="intro">For a faster development workflow</p>
                </div>
            </div>
            <div class="text-center">
                <a href="{{ path('why') }}" class="btn btn-fill btn-large btn-margin-right">Why</a>
                <a href="{{ path('get-started') }}" class="btn btn-accent btn-large">Get Started with your 14 day Free Trial</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
