{% extends "layout.html.twig" %}
{% block body %}
<section class="hero">
    <section class="navigation">
        {% include "_partials/header.html.twig" %}
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1>Build and deploy containers!</h1>
                    <p class="intro">ContinuousPipe is a continuous deployment pipeline that allows frictionless deployment of features in isolated application environments. All while you are drinking your coffee.</p>
                    <a href="#overview" class="btn btn-fill btn-large btn-margin-right">Overview</a>
                    <a href="{{ path('documentation') }}" class="btn btn-accent btn-large">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>
<section class="intro section-padding" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe033;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Any technology</h5>
                    <p>Based on Docker containers, the pipeline can build and deploy any kind of technology stack. You can be using Go, Java, PHP or anything else, all you need is the Docker configuration.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe030;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Enable experiments</h5>
                    <p>You can try a new design, feature, framework or even programming language easily. Because you don't have to configure your deployment pipeline but just have the Docker configuration, simply try it!</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe040;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>Quicker feedback</h5>
                    <p>By being able to deploy a feature extremely quickly without perturbating any other running environment, you can have feedback from your clients and users faster.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <div class="feature-list">
                    <h3>A complete integration with GitHub</h3>
                    <p>We consider your GitHub not only as a code repository but also as your project repository.</p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe040;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Pipeline control</h5>
                                <p>By using comments and/or labels, trigger and control the deployment pipeline.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03e;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Updated status</h5>
                                <p>On each code change, the status of the pipeline will be updated on GitHub</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03c;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>"Here is the address"</h5>
                                <p>When creating a pull-request, just wait and an comment will appear with the deployment environment link.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="device-showcase">
        <div class="devices">
            <div class="ipad-wrap wp1"></div>
            <div class="iphone-wrap wp2"></div>
        </div>
    </div>
    <div class="responsive-feature-img"><img src="img/devices.png" alt="responsive devices"></div>
</section>
<section class="features-extra section-padding" id="assets">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="feature-list">
                    <h3>Deploy at scale with Kubernetes</h3>
                    <p>For an experimental feature, your staging or production environment, the deployment will always be the same.</p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe031;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Application stack</h5>
                                <p>Your entire application will be deployed and orchestrated from your Docker Compose configuration.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe04b;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Infrastructure independent</h5>
                                <p>Kubernetes can run everywhere, on your laptop as well as in large-scale clouds.</p>
                            </div>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><a href="http://kubernetes.io/" class="btn btn-ghost btn-small" target="_blank">What is Kubernetes?</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="macbook-wrap wp3"></div>
    <div class="responsive-feature-img"><img src="img/macbook-pro.png" alt="responsive devices"></div>
</section>
<section class="hero-strip section-padding">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2>Built to embrace your application</h2>
            <p>ContinuousPipe already supports many different workflows. If you want to have more information or believe you need dedicated assistance, simply drop us a message.</p>
            <a href="{{ path('contact') }}" class="btn btn-ghost btn-accent btn-large">Contact us!</a>
        </div>
    </div>
</section>
<section class="sign-up section-padding text-center" id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Ready to go?</h3>
                <p>Login to the console, checkout our documentation and start deploying!</p>
                <p>
                    <a href="https://ui.continuouspipe.io" class="btn btn-accent btn-fill btn-large">Open the console</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
