{% extends "layout.html.twig" %}
{% block body %}
<section class="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo"><a href="#"><i class="cp-icon-logo"></i></a></div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="#features">Features</a></li>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="#faq">FAQ</a></li>
                            <li><a href="#sign-up">Sign up</a></li>
                        </ul>
                        <ul class="member-actions">
                            <li><a href="#" class="login">Log in</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1>Build and deploy containers!</h1>
                    <p class="intro">ContinuousPipe is a continuous deployment pipeline that allow frictionless deployment of features in isolated application environments. All while you are drinking your coffee.</p>
                    <a href="#sign-up" class="btn btn-fill btn-large btn-margin-right">Getting started</a>
                    <a href="#features" class="btn btn-accent btn-large">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>
<section class="intro section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe033;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Any technology</h5>
                    <p>Based on Docker containers, the pipeline can build and deploy any kind of technology stack. You can be using Go, Java, PHP or anything else, all your need is the Docker configuration.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe030;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Enable experiments</h5>
                    <p>You can try a new design, feature, framework or even programming language easily. Because you don't have to configure your deployment pipeline but just have the Docker configuration, simply try it!</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe040;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>Quicker feedback</h5>
                    <p>By being able to deploy a feature extremely quickly without perturbating any other running environment, you can have feedback from your clients and users faster.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <div class="feature-list">
                    <h3>A complete integration with GitHub</h3>
                    <p>We consider your GitHub not only as a code repository but also as your project repository.</p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe040;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Pipeline control</h5>
                                <p>By using comments and/or labels, trigger and control the deployment pipeline.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03e;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Updated status</h5>
                                <p>On each code change, the status of the pipeline will be updated on GitHub</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03c;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>"Here is the address"</h5>
                                <p>When creating a pull-request, just wait and an comment will appear with the deployment environment link.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="device-showcase">
        <div class="devices">
            <div class="ipad-wrap wp1"></div>
            <div class="iphone-wrap wp2"></div>
        </div>
    </div>
    <div class="responsive-feature-img"><img src="img/devices.png" alt="responsive devices"></div>
</section>
<section class="features-extra section-padding" id="assets">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="feature-list">
                    <h3>Deploy at scale</h3>
                    <p>Drasticaly changes the way of seeing the shiping.</p>
                    <p>Uses Kubernetes my friend!</p>
                    <a href="#" class="btn btn-ghost btn-small">What's Kubernetes?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="macbook-wrap wp3"></div>
    <div class="responsive-feature-img"><img src="img/macbook-pro.png" alt="responsive devices"></div>
</section>
<section class="testimonial-slider section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="avatar"><img src="img/avatar.jpg" alt="Sedna Testimonial Avatar"></div>
                            <h2>"Our highest priority is to satisfy the customer through early and continuous delivery of valuable software."</h2>
                            <p class="author">Principles behind the Agile Manifesto.</p>
                        </li>
                        <li>
                            <div class="avatar"><img src="img/mani.jpg" alt="Sedna Testimonial Avatar"></div>
                            <h2>"Until your pretty code is in production, making money, or doing whatever it does, you’ve just wasted your time."</h2>
                            <p class="author">Chris Read.</p>
                        </li>
                        <li>
                            <div class="avatar"><img src="img/130.jpg" alt="Sedna Testimonial Avatar"></div>
                            <h2>"What’s the smallest number of steps, with the smallest number of people and the smallest amount of ceremony required to get new code running on your servers?"</h2>
                            <p class="author">Erik Kastner</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-intro section-padding" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Pricing</h3>
            </div>
        </div>
    </div>
</section>
<section class="hero-strip section-padding">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2>Built to change and embrace your workflow</h2>
            <p>ContinuousPipe already supports many different workflow. If you want to have more information or believe you need dedicated assistance, simply drop us a message.</p>
            <a href="#sign-up" class="btn btn-ghost btn-accent btn-large">Contact us!</a>
            <div class="logo-placeholder floating-logo"><img src="{{ asset('img/envelope.png') }}" alt="Sketch Logo"></div>
        </div>
    </div>
</section>
<section class="sign-up section-padding text-center" id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Register your interest</h3>
                <p>Just put your email here, and we'll whitelist your beta access!</p>
                <form class="signup-form" action="#" method="POST" role="form">
                    <div class="form-input-group">
                        <i class="fa fa-envelope"></i><input type="text" class="" placeholder="Enter your email" required>
                    </div>
                    <div class="form-input-group">
                        <i class="fa fa-user"></i><input type="text" class="" placeholder="GitHub username" required>
                    </div>
                    <button type="submit" class="btn-fill sign-up-btn">Request access</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="blog-intro section-padding" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Frequently asked questions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <h5>Can I use my own hosting?</h5>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <h5>Can I run tests?</h5>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <h5>How can I customize the workflow?</h5>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <h5>Can I run migration scripts?</h5>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <h5>How are the permissions managed?</h5>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <h5>Where are stored the Docker images?</h5>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>
<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                        <li><a href="#features">Features</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#faq">FAQ</a></li>
                        <li><a href="#sign-up">Sign up</a></li>
                    </ul>
                    <p>Crafted with <span class="fa fa-heart pulse2"></span> by <a href="https://twitter.com/samuelroze">Samuel Roze</a>.</p>
                </div>
            </div>
            <div class="social-share">
                <p>Share ContinuousPipe</p>
                <a href="https://twitter.com/samuelroze" class="twitter-share"><i class="fa fa-twitter"></i></a> <a href="#" class="facebook-share"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}