{% extends "regular_layout.html.twig" %}
{% block title %}Pricing{% endblock %}
{% block content %}
<section class="hero-strip section-padding no-icon">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="hero-strip__title">Pricing</h1>
            <p>Discover the easiest continuous deployment pipeline for container based projects.</p>
            <p>We offer a <b>14 day free trial</b> so you can try it risk-free - just <a href="https://ui.continuouspipe.io">sign up!</a> </p>
        </div>
    </div>
</section>
<section class="sign-up text-center" id="form">
    <div class="container pricing-table">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <div class="block personal">
                    <h2 class="title">Cloud</h2>
                    <div class="content">
                        <p class="price">
                            <sup>£</sup>
                            <span>20</span>
                            <sub>/user/mo.</sub>
                        </p>
                        <p class="hint">Flexible plan, pay only per active user.</p>
                    </div>

                    <ul class="features">
                        <li><i class="fa fa-github"></i> Unlimited teams</li>
                        <li><i class="fa fa-github"></i> Unlimited repositories</li>
                        <li><i class="fa fa-cube"></i> Unlimited pipelines</li>
                        <li><i class="fa fa-cube"></i> Unlimited builds</li>
                        <li><i class="fa fa-cloud"></i> Unlimited deployments</li>
                        <li><i class="fa fa-comments"></i> GitHub & BitBucket</li>
                        <li><i class="fa fa-line-chart"></i> Reports</li>
                    </ul>

                    <div class="pt-footer"></div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="block business">
                    <h2 class="title">Enterprise</h2>
                    <div class="content">
                        <a href="{{ path('contact') }}" class="btn btn-accent btn-large">Contact us</a>
                    </div>

                    <ul class="features">
                        <li><i class="fa fa-user"></i> Unlimited users</li>
                        <li><i class="fa fa-github"></i> Unlimited repositories</li>
                        <li><i class="fa fa-cube"></i> Unlimited builds</li>
                        <li><i class="fa fa-cloud"></i> Unlimited deployments</li>
                        <li><i class="fa fa-comments"></i> GitHub integration</li>
                        <li><i class="fa fa-line-chart"></i> Reports</li>
                        <li><i class="fa fa-key"></i> API access</li>
                        <li><i class="fa fa-life-ring"></i> Enterprise support</li>
                        <li><i class="fa fa-home"></i> On-premise hosting</li>
                    </ul>

                    <div class="pt-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
