{% extends "regular_layout.html.twig" %}
{% block title %}Services{% endblock %}
{% block content %}
    <section class="hero-strip section-padding no-icon">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2>Services</h2>
                <p>Borrow from our experience and accelerate.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Our professional consulting services will help your organisation get the benefits and
                        productivity of being containerised.</p>

                    <p>ContinuousPipe is supported by over 200 technical professionals in the UK and Europe with deep
                        experience in bringing continuous delivery to projects and DevOps environments.</p>

                    <p>Engaging with <a href="https://inviqa.com">Inviqa</a>, we can help you in a number of ways to get the most out of
                        ContinuousPipe:</p>

                    <ul>
                        <li>Configure projects and Dockerise your environments</li>
                        <li>Scaling projects with the cloud and Kubernetes</li>
                        <li>Replatforming and solution upgrades (particularly PHP, Node.js, Scala, Java, Go)</li>
                        <li>Agile training and development process optimisation</li>
                        <li>Embedding and getting the benefits of ContinuousPipe with your testing teams</li>
                    </ul>

                    <p>If you need a helping hand with your set-up or to move faster to continuous development, then
                        <a href="{{ path('contact') }}">drop us a line</a> and we’ll arrange a meeting to review your current DevOps environment.</p>
                </div>
            </div>
        </div>
    </section>
    {% include "_partials/call-to-action.html.twig" %}

{% endblock %}