{% extends "regular_layout.html.twig" %}
{% block title %}Why ContinuousPipe?{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="col-md-12 text-center">
                <h2>Why ContinuousPipe?</h2>
                <p>ContinuousPipe can be used to solve many problems in the Software Development Lifecycle. We believe
                    that
                    enabling developers to have a faster development workflow is critical to delivering value in IT
                    projects. Here's why.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col-md-2">
                <h3>Sprint Zero Time</h3>
                <p>From days, to under and hour</p>
            </div>
            <div class="col-md-2">
                <h3>QA &amp; Stakeholder Feedback
                    <p>from hours to minutes</p></h3>
            </div>
            <div class="col-md-2">
                <h3>Onboarding a developer</h3>
                <p>from days to 15 minutes</p>
            </div>
            <div class="col-md-2">
                <h3>Monthly developer downtime</h3>
                <p>from hours to minutes</p>
            </div>
            <div class="col-md-2">
                <h3>Page performance</h3>
                <p>from 30 seconds to less than 1 second</p>
            </div>
        </div>
    </section>

{% endblock %}