{% extends "regular_layout.html.twig" %}
{% block nav_area_dev_class %} active{% endblock %}
{% block content %}

    <section class="intro section-padding" id="overview">
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Developer Environment</h1>
                    <p>ContinuousPipe can be used as a development environment. By removing the need to
                        install
                        and run Docker locally, you benefit from fast project and developer onboarding, minimal downtime
                        per
                        month,
                        and production-like performance.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe033;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Fast Onboarding</h5>
                        <p>Onboarding a new developer is as simple and as quick as creating a new remote development
                            branch, pushing to your repo and waiting for the environment to build - less than
                            15 minutes from end to end.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe030;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Minimal Downtime</h5>
                        <p>Docker isn't installed locally, so there’s not much that can break. Further, you
                            don’t need to have lots of memory on your laptop or remember to shut down containers from
                            other projects.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe040;" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                        <h5>Production-like Performance</h5>
                        <p>We run your containers on production-like hardware, and you get to develop
                            on hardware with production-like performance. No more 10 second page loads!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero-strip section-padding">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2>Built to embrace your application</h2>
                <p>ContinuousPipe already supports many different workflows. If you’d like further information, or would
                    like to discuss how ContinuousPipe could help your organisation, drop us a line.</p>
                <a href="{{ path('contact') }}" class="btn btn-ghost btn-accent btn-large">Let's talk!</a>
            </div>
        </div>
    </section>

{% endblock %}
