{% extends "features/layout.html.twig" %}
{% block nav_area_qa_class %} active{% endblock %}
{% block title %}Quality Assurance and Collaboration{% endblock %}
{% block content %}
    <section class="intro section-padding" id="overview">
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Fast feedback loop</h1>
                    <p>ContinuousPipe can reduce the time it takes to get new features approved by the QA team and other
                        stakeholders. By providing an isolated environment with every pull request, you don’t need to
                        wait for changes to be merged before getting them signed off.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <i class="fa fa-th" aria-hidden="true"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Isolated Environments</h5>
                        <p>Every Pull Request is built as an isolated environment so QA and other stakeholders can see
                            the
                            feature as you intended. No more waiting for
                            features to be merged to staging before approval.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Easy Stakeholder Access</h5>
                        <p>ContinuousPipe environments are easy to access for QA and other stakeholders. No messing
                            around with
                            screen sharing or tunnels - just send the the URL and credentials for immediate access.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    </div>
                    <div class="intro-content last">
                        <h5>Enable Experiments</h5>
                        <p>Trying a new design, feature, framework or programming language is easy. Test your new
                            creation without any interruption to the application availability or performance.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features section-padding" id="assets">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="feature-list">
                        <h3>A complete integration with GitHub and Bitbucket</h3>
                        <p>We consider GitHub and Bitbucket not only as a code repository, but also as your project
                            repository.</p>
                        <ul class="features-stack">
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>"Here is the address"</h5>
                                    <p>When creating a pull-request, just wait and a comment will appear with the
                                        deployed environment link.</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Pipeline control</h5>
                                    <p>By using comments and/or labels, you can seamlessly control and manage the
                                        deployment pipeline.</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <i class="fa fa-recycle" aria-hidden="true"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>That quick feedback loop</h5>
                                    <p>Developers and QAs can approve features in parallel, merging and easily deploy
                                        them.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="image-container">
                        <img src="{{ asset('/img/github-workflow.png') }}" alt="GitHub workflow"
                             class="illustration-image"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="integrations section-padding">
        <div class="container">
            <div class="row integration-list">
                <div class="col-md-4">
                    <a href="https://github.com/">
                        <img src="{{ asset('/img/logos/github-icon.svg') }}" alt="Github" />
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://bitbucket.org/">
                        <img src="{{ asset('/img/logos/bitbucket.svg') }}" alt="Bitbucket" />
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://slack.com/">
                        <img src="{{ asset('/img/logos/slack.svg') }}" alt="Slack" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include "_partials/call-to-action.html.twig" %}
{% endblock %}
