{% extends "regular_layout.html.twig" %}
{% block title %}Features{% endblock %}
{% block content %}
<section class="hero-strip section-padding" id="features">
    <div class="container">
        <div class="row area-list">
            <div class="col-md-4">
                <div class="area">
                    <div class="box">
                        <div class="ribbon"><span>Beta</span></div>
                        <h2 class="hero-strip__title"><span data-icon="&#xe033;" class="icon"></span></h2>
                        <h2 class="hero-strip__title">Developer environment</h2>
                        <p>ContinuousPipe can be used as a development environment. By removing the need to install and run Docker locally, you benefit from fast project and developer onboarding, minimal downtime per month, and production-like performance.</p>
                        <a href="{{ path('area_dev') }}" class="btn btn-fill btn-accent btn-large">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="area">
                    <div class="box">
                        <h2 class="hero-strip__title"><span data-icon="&#xe03e;" class="icon"></span></h2>
                        <h2 class="hero-strip__title">QA & Collaboration</h2>
                        <p>ContinuousPipe can reduce the time it takes to get new features approved by the QA team and other stakeholders. By providing an isolated environment with every pull request, you don’t need to wait for changes to be merged before getting them signed off.</p>
                        <a href="{{ path('area_qa') }}" class="btn btn-fill btn-accent btn-large">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="area">
                    <div class="box">
                        <h2 class="hero-strip__title"><span data-icon="&#xe04b;" class="icon"></span></h2>
                        <h2 class="hero-strip__title">Production workloads</h2>
                        <p>ContinuousPipe can reduce the time it takes to deploy your website to any Kubernetes cluster. You can easily host your cluster on Google Container Engine, Amazon EC2 Container Service or your own private Kubernetes cluster.</p>
                        <a href="{{ path('area_prod') }}" class="btn btn-fill btn-accent btn-large">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
